@font-face {
  font-family: "Mortal_Kombat";
  src: url("./assets/fonts/Mortal_Kombat_3_Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

img {
  width: 100%;
}
